{{> header}}

<br>
<br>
<br>
<br> 
<br>
<br>
<br>
<br>
<br>
<br>
  <div class="welcome-info text-center">
    <h1>Tickets</h1>
    <br>
    <br>
    <!-- button trigger sign up modal and to view sample page -->
      <div class='container'>
        <div class='row'>
          <div class='col-md-8 col-md-offset-2 buttons'>
            <span><a class="btn btn-default btn-lg btn-xl" id="sign-button" data-toggle="modal" data-target="#viewAllTicketsModal" role="button">View All Tickets</a>
          </div>
        </div>
      </div>    
  </div> 
  <br>
  <br>
  <br>
  
  
  <!-- Modal to View Tickets -->
  <div class="modal fade" id="viewAllTicketsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">View All Tickets</h4>
        </div>

        <div class="modal-body">
          <form class="form-horizontal completedForm">
            <div class="form-group">
              <label for="inputCompleted" class="col-sm-3 control-label"></label>
            </div>
          <!-- Ticket List -->
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 tickets">
                <ul class=" active list-unstyled">


 <!--               <p> {{#each user.tickets}}
                  <p><strong>{{completed}}</strong> - {{department}} - {{description}} - {{createdAt}} </p>
                {{/each}}
              </div>
            </div>
          </div></p>
            <br>
            <br>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" id="close-modal" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> -->


        <!-- list of posts -->
        <ul class="list-group" id="tickets-list">

          <!-- handlebars template -->
          <script id="tickets-template" type="text/x-handlebars-template">
            \{{#each tickets}}
              <li class="list-group-item post" data-id="\{{_id}}">
               
                <span class="label label-default">\{{department}}</span>
                
              
                \{{description}}
                <div class="pull-right">

                  <a href="javascript:void(0)" data-toggle="collapse" data-target="#update-\{{_id}}">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                  
                 
                   <a href="javascript:void(0)" class="delete-post">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </div>
                
             
                <div class="collapse" id="update-\{{_id}}">
                  <br>
                  <form class="form-inline update-ticket">
           
         <div class="form-group">
                      <input type="text" name="title" class="form-control" placeholder="Title" value="\{{title}}">
                    </div>
                    <div class="form-group">
                      <input type="text" name="description" class="form-control" placeholder="Description" value="\{{description}}">
                    </div>
                    <div class="form-group">
                      <input type="submit" class="btn btn-block btn-default" value="Update">
                    </div>
                  </form>
                </div>
              </li>
            \{{/each}}
          </script>
        </ul>
      </div>
    </div>
  </div>


<!-- jquery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <!-- handlebars -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

  <script type="text/javascript" src="main.js"></script>
</body>
</html>
